  @import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&family=Yseau+Infant:wght@300&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #7ce0d6;
  font-family: 'Ysabeau Infant', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #38393a;
  color:#dfdcd4;
  
}

a{
  color: #7ce0d6;
}

.auth-page-forms{
  margin: auto;
  width: 60%;
}
.auth-page-forms>button{
  margin: auto;
  width: 50%;
}



.cart-button{
  position: absolute;
  top: 0px;
  right: 0px;
}

.logo {
  --x: 50px;
  height: var(--x);
  width: var(--x);
  filter: invert(100%) sepia(27%) saturate(5371%) hue-rotate(180deg) brightness(107%) contrast(116%);
}

.nav-bar{
  flex-direction: row;
  flex-wrap: wrap;
}

:root {
  --black: rgb(29, 29, 29);
  --white: rgb(241, 241, 241);
}

.cart-detail{
  width: 100%;

}

/* .cart-item{
} */

.qty-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.qty-buttons>span{
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}

.cart-img{
  width: 20%;
  max-height: auto;
  overflow: clip;
  /* border: yellow 10px solid; */
}

.shop-list{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  /* border: red 4px solid; */
  background-color: #656f74;
  border-radius: 10px;
}

.shop-list-item {
  height: 25%;
  width: 25%;
  padding: 5px;
  /* border: blue 10px solid; */
}

.shop-list-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px;
  border-radius: 7%;
  /* border: green 10px solid; */

}

.shop-list-item-show{
  padding: 20px;
  padding-bottom: 40px;

}
.shop-list-item-show>img{
  padding: 10px;
  width: 40%;
  height: auto;
}

.categories{
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
  color: rgb(255, 255, 255);
  margin: auto; 
  padding: 5px;
  cursor: pointer;
  flex-wrap: wrap;
}



.categories div.active {
  background-color:  #9c7ba1;
}